.notificationsToasts {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.notificationsToasts :where(.zarkify-toast, .column) {
  display: flex;
  align-items: center;
}

.notificationsToasts .zarkify-toast {
  width: fit-content;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

.notificationsToasts .zarkify-toast.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}

/* .zarkify-toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 300s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
} */



.zarkify-toast.success,
.btn#success {
  border-left: 4px solid var(--success);
}

.zarkify-toast.error,
.btn#error {
  border-left: 4px solid var(--error);
}

.zarkify-toast.warning,
.btn#warning {
  border-left: 4px solid var(--warning);
}

.zarkify-toast.info,
.btn#info {
  border-left: 4px solid var(--info);
}

.zarkify-toast .column i {
  font-size: 1.75rem;
}

.zarkify-toast.success .column i {
  color: var(--success);
}

.zarkify-toast.error .column i {
  color: var(--error);
}

.zarkify-toast.warning .column i {
  color: var(--warning);
}

.zarkify-toast.info .column i {
  color: var(--info);
}

.zarkify-toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}

.zarkify-toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}

.zarkify-toast i:last-child:hover {
  color: var(--dark);
}

.buttons .btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
  color: var(--light);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
}

@media screen and (max-width: 530px) {
  .notificationsToasts {
    width: 95%;
  }

  .notificationsToasts .zarkify-toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }

  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}