.container {
  max-width: 88%;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: sans-serif;
}

/* PONTO BASE */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
}

/* ========== PULSE ========== */
.dot.aguardando {
  background-color: #5849e2ff;
  /* Verde */
}

.dot.aguardando::before,
.dot.aguardando::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2308d1ff;
  opacity: 0.6;
  animation: pulse 2s infinite ease-out;
}

.dot.aguardando::after {
  animation-delay: 0.6s;
}

/* Animação do pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  70% {
    transform: scale(3);
    opacity: 0;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.dot.estimado {
  background-color: #2e8b57;
}

.container-table {
  max-height: 300px !important;
  overflow-x: scroll;
  overflow-x: hidden;
}

.container-table {
  --sb-track-color: #8e8e8e;
  --sb-thumb-color: #e0e0e0;
  --sb-size: 5px;
}

.container-table::-webkit-scrollbar {
  width: var(--sb-size);
}

.container-table::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.container-table::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

#session {
  display: flex;
  align-items: center;
  justify-content: center;
}

#session img {
  height: 480px;
}
